@model List<Casgem_Portfolio.Models.TblAbout>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
    int count = 0;
}

<h2>Hakkımda Yazıları</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Açıklama</th>
        <th>Fotoğraf</th>
        <th>Cv</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Title</td>
            <td>@item.Title1</td>
            <td>@item.Description</td>
            <td>@item.ImageUrl</td>
            <td>@item.CvUrl</td>
            <td><a href="/About/DeleteAbout/@item.WhoAmIId" class="btn btn-danger">Sil</a></td>
            <td><a href="/About/UpdateAbout/@item.WhoAmIId" class="btn btn-warning">Düzenle</a></td>

        </tr>
    }

</table>
<a href="/About/AddAbout" class="btn btn-success">Yeni Yazı Ekle</a>


