@model Casgem_Portfolio.Models.TblAbout
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yazı Güncelleme</h2>
<form method="post">
    @Html.HiddenFor(x => x.WhoAmIId)
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Alt Başlık</label>
    @Html.TextBoxFor(x => x.Title1, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Resim</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>CV</label>
    @Html.TextBoxFor(x => x.CvUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>

